.bold{
    font-weight: bold;
    padding: 10px;
    //color: #040d67;
}
.example-div{
// float: left;
// padding: 0   50px;
margin-left: 5%;
align-self: center;


}
.example-div2{
    // float: right;
    // padding: 0   100px;

}
.div3{
  margin:20px 40px; 
}
.div4{
margin-top: 2%;
float: right;
margin-right: 7%;
}

table {
    max-height: 80%;
    max-width: 60%;
margin-top: 40px;

  }
  .example-card{
    max-width: 90%;
    margin: 0 70px;
    
  }
  .example-card2{
    max-width: 90%;
    max-height: 70%;
    margin: 10px 70px;
    
   
  }