<div *ngFor="let a of try">
  <mat-card class="example-card2">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Observations Made</mat-card-title>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <!-- <p>
          <span>{{ _appointmentDetails[0].physicianEmail }}  On  </span>{{ _appointmentDetails[0].date }}
        </p> -->
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="a">
          <ng-container matColumnDef="testId">
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td mat-cell *matCellDef="let element">{{ element.testId }}</td>
          </ng-container>

          <ng-container matColumnDef="testName">
            <th mat-header-cell *matHeaderCellDef>Test Conducted</th>
            <td mat-cell *matCellDef="let element">{{ element.testName }}</td>
          </ng-container>

          <ng-container matColumnDef="result">
            <th mat-header-cell *matHeaderCellDef>Actual Result</th>
            <td mat-cell *matCellDef="let element">{{ element.result }}</td>
          </ng-container>

          <ng-container matColumnDef="testNotes">
            <th mat-header-cell *matHeaderCellDef>Remark</th>
            <td mat-cell *matCellDef="let element">{{ element.testNotes }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns1"></tr>
        </table>
        <mat-paginator
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
          aria-label="Select page of periodic elements"
        >
        </mat-paginator>

        <div class="div3">
          <span class="bold">Vew Prescription </span
          ><button
            mat-raised-button
            color="primary"
            (click)="openDialog(a[0].visitId)"
          >
            View
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
